extends ../base/money-layout

block main
	.container#money-tracker-show-page
		h2 Welcome back, Akiraff
		.col-md-3
			i.fa.fa-money(aria-hidden='true')
			strong.margin-both-5px Budget:
			| HK$1000.00
		.col-md-3
			i.fa.fa-arrow-down(aria-hidden='true')
			strong.margin-both-5px Spent Money:
			| HK$#{roundTotalPrice}
		.col-md-3
			i.fa.fa-line-chart(aria-hidden='true')
			strong.margin-both-5px Avg. money/day:
			| HK$ #{roundAverageMoney}
		.col-md-3
			i.fa.fa-calendar(aria-hidden='true')
			strong.margin-both-5px Day:
			| #{dayTimeDifference}
		table.table.table-hover
			thead
				tr
					th="Receipt Name"
					th="Payment Method"
					th="Price Spent"
					th="Date"
					th
			tbody
			each item in items
				tr(data-id= item._id) 
					td.receiptName #{item.receiptName}
					td.paymentMethod #{item.paymentMethod}
					td.priceSpent HK$ #{item.priceSpent}
					td.dateCreated #{item.formatDate}
					td.buttonGroup
						.btn-group
							.btn.btn-danger.button-delete
								i.fa.fa-trash-o(arian="true")
							.btn.btn-primary.button-edit
								i.fa.fa-pencil(arian="true")

		.btn.btn-danger.form-control#expand-quick-button Add
		
		form#expand-quick-form
			.btn.btn-secondary#hide-form
				| Hide Form
			.row
				.col-md-8
					.form-group.form-margin-bottom
						.col-md-3
							label.pull-right Receipt Name
						.col-md-9
							input#name.form-control(type="text", name="receiptName", placeholder="Receipt Name")
				.col-md-4
					.form-group.form-margin-bottom
						.col-md-2
							label.pull-right Cost
						.col-md-10
							input#total.form-control(type="text", name="totalPriceToSpend" placeholder="Total Price")
			.row
				.form-group.form-margin-bottom
					.col-md-2
						label.pull-right Payment Method
					.col-md-10
						.row
							.col-md-4
								label
									i.fa.fa-money.fa-lg(aria-hidden='true')
									span.margin-both-5px Cash
								input(type="radio", name="payment", value="Cash", checked="")
							.col-md-4
								label
									i.fa.fa-cc-visa.fa-lg(aria-hidden='true')
									span.margin-both-5px Visa
								input(type="radio", name="payment", value="Visa")
							.col-md-4
								label
									i.fa.fa-cc-mastercard.fa-lg(aria-hidden='true')
									span.margin-both-5px MasterCard
								input(type="radio", name="payment", value="MasterCard")
						.row
							.col-md-4
								label
									i.fa.fa-cc-amex.fa-lg(aria-hidden='true')
									span.margin-both-5px American Express
								input(type="radio", name="payment", value="American Express")
							.col-md-4
								label
									i.fa.fa-paypal.fa-lg(aria-hidden='true')
									span.margin-both-5px Paypal
								input(type="radio", name="payment", value="Paypal")
							.col-md-4
								label
									i.fa.fa-bitcoin.fa-lg(aria-hidden='true')
									span.margin-both-5px Other
								input(type="radio", name="payment", value="Other")
			.row
				input#item.btn.btn-danger.form-control(type="submit", value="Add")
